input.ng-invalid.ng-touched{
    border:1px solid red;
    box-shadow: 0 0 13px rgb(79, 10, 10);
}
.container-fluid{
    background: linear-gradient(to left,rgb(247, 249, 249),rgb(39, 138, 158)),rgb(35, 34, 34);
}
       
