<nav class="navbar bg-body-tertiary">
  <div class="container-fluid bg-dark ">
    <span class="navbar-brand mb-0 h1 text-light">UMS</span>




    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link text-light " [routerLink]="['home']">Home</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link active text-light " aria-current="page" [routerLink]="['register']">Register</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link text-light" [routerLink]="['signin']">LogIn</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" [routerLink]="['unlock']">UnlockAccount</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link text-light " [routerLink]="['forget']">Forget</a>
      </li> -->
    </ul>
  </div>
</nav>











<router-outlet></router-outlet>