/* .container{
    background-color: aqua;
    display: flex;
    justify-content: end;
} */
/* .navbar-nav ul li{
    justify-content: end;
    justify-content: space-between;
} */
/* ul li{
    margin-left: 20px;
    text-decoration: none;
    padding-left: 20px;
    
} */


